In [2]:
import requests
import json
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
# importing CSV to select random movies from 2015 and 2016
movie_data = "movie_metadata.csv"
movie_data = pd.read_csv('movie_metadata.csv')
pd.set_option('display.max_columns', 30)

movie_data.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,actor_1_name,movie_title,num_voted_users,cast_total_facebook_likes,actor_3_name,facenumber_in_poster,plot_keywords,movie_imdb_link,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,4834,Wes Studi,0.0,avatar|future|marine|native|paraplegic,http://www.imdb.com/title/tt0499549/?ref_=fn_t...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: At World's End,471220,48350,Jack Davenport,0.0,goddess|marriage ceremony|marriage proposal|pi...,http://www.imdb.com/title/tt0449088/?ref_=fn_t...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,Christoph Waltz,Spectre,275868,11700,Stephanie Sigman,1.0,bomb|espionage|sequel|spy|terrorist,http://www.imdb.com/title/tt2379713/?ref_=fn_t...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,Tom Hardy,The Dark Knight Rises,1144337,106759,Joseph Gordon-Levitt,0.0,deception|imprisonment|lawlessness|police offi...,http://www.imdb.com/title/tt1345836/?ref_=fn_t...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,Doug Walker,Star Wars: Episode VII - The Force Awakens ...,8,143,NaN,0.0,NaN,http://www.imdb.com/title/tt5289954/?ref_=fn_t...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [7]:
# dropping NaN 
movie_data_na = movie_data.dropna()

movie_data_na

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,actor_1_name,movie_title,num_voted_users,cast_total_facebook_likes,actor_3_name,facenumber_in_poster,plot_keywords,movie_imdb_link,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,4834,Wes Studi,0.0,avatar|future|marine|native|paraplegic,http://www.imdb.com/title/tt0499549/?ref_=fn_t...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: At World's End,471220,48350,Jack Davenport,0.0,goddess|marriage ceremony|marriage proposal|pi...,http://www.imdb.com/title/tt0449088/?ref_=fn_t...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,Christoph Waltz,Spectre,275868,11700,Stephanie Sigman,1.0,bomb|espionage|sequel|spy|terrorist,http://www.imdb.com/title/tt2379713/?ref_=fn_t...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,Tom Hardy,The Dark Knight Rises,1144337,106759,Joseph Gordon-Levitt,0.0,deception|imprisonment|lawlessness|police offi...,http://www.imdb.com/title/tt1345836/?ref_=fn_t...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
5,Color,Andrew Stanton,462.0,132.0,475.0,530.0,Samantha Morton,640.0,73058679.0,Action|Adventure|Sci-Fi,Daryl Sabara,John Carter,212204,1873,Polly Walker,1.0,alien|american civil war|male nipple|mars|prin...,http://www.imdb.com/title/tt0401729/?ref_=fn_t...,738.0,English,USA,PG-13,263700000.0,2012.0,632.0,6.6,2.35,24000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5026,Color,Olivier Assayas,81.0,110.0,107.0,45.0,Béatrice Dalle,576.0,136007.0,Drama|Music|Romance,Maggie Cheung,Clean,3924,776,Don McKellar,1.0,jail|junkie|money|motel|singer,http://www.imdb.com/title/tt0388838/?ref_=fn_t...,39.0,French,France,R,4500.0,2004.0,133.0,6.9,2.35,171
5027,Color,Jafar Panahi,64.0,90.0,397.0,0.0,Nargess Mamizadeh,5.0,673780.0,Drama,Fereshteh Sadre Orafaiy,The Circle,4555,5,Mojgan Faramarzi,0.0,abortion|bus|hospital|prison|prostitution,http://www.imdb.com/title/tt0255094/?ref_=fn_t...,26.0,Persian,Iran,Not Rated,10000.0,2000.0,0.0,7.5,1.85,697
5033,Color,Shane Carruth,143.0,77.0,291.0,8.0,David Sullivan,291.0,424760.0,Drama|Sci-Fi|Thriller,Shane Carruth,Primer,72639,368,Casey Gooden,0.0,changing the future|independent film|invention...,http://www.imdb.com/title/tt0390384/?ref_=fn_t...,371.0,English,USA,PG-13,7000.0,2004.0,45.0,7.0,1.85,19000
5035,Color,Robert Rodriguez,56.0,81.0,0.0,6.0,Peter Marquardt,121.0,2040920.0,Action|Crime|Drama|Romance|Thriller,Carlos Gallardo,El Mariachi,52055,147,Consuelo Gómez,0.0,assassin|death|guitar|gun|mariachi,http://www.imdb.com/title/tt0104815/?ref_=fn_t...,130.0,Spanish,USA,R,7000.0,1992.0,20.0,6.9,1.37,0
5042,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,John August,My Date with Drew,4285,163,Jon Gunn,0.0,actress name in title|crush|date|four word tit...,http://www.imdb.com/title/tt0378407/?ref_=fn_t...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

In [8]:
movie_data_na = movie_data_na.reset_index()


movie_data_na

,index,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,actor_1_name,movie_title,num_voted_users,cast_total_facebook_likes,actor_3_name,facenumber_in_poster,plot_keywords,movie_imdb_link,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,4834,Wes Studi,0.0,avatar|future|marine|native|paraplegic,http://www.imdb.com/title/tt0499549/?ref_=fn_t...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: At World's End,471220,48350,Jack Davenport,0.0,goddess|marriage ceremony|marriage proposal|pi...,http://www.imdb.com/title/tt0449088/?ref_=fn_t...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,Christoph Waltz,Spectre,275868,11700,Stephanie Sigman,1.0,bomb|espionage|sequel|spy|terrorist,http://www.imdb.com/title/tt2379713/?ref_=fn_t...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,Tom Hardy,The Dark Knight Rises,1144337,106759,Joseph Gordon-Levitt,0.0,deception|imprisonment|lawlessness|police offi...,http://www.imdb.com/title/tt1345836/?ref_=fn_t...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,5,Color,Andrew Stanton,462.0,132.0,475.0,530.0,Samantha Morton,640.0,73058679.0,Action|Adventure|Sci-Fi,Daryl Sabara,John Carter,212204,1873,Polly Walker,1.0,alien|american civil war|male nipple|mars|prin...,http://www.imdb.com/title/tt0401729/?ref_=fn_t...,738.0,English,USA,PG-13,263700000.0,2012.0,632.0,6.6,2.35,24000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3751,5026,Color,Olivier Assayas,81.0,110.0,107.0,45.0,Béatrice Dalle,576.0,136007.0,Drama|Music|Romance,Maggie Cheung,Clean,3924,776,Don McKellar,1.0,jail|junkie|money|motel|singer,http://www.imdb.com/title/tt0388838/?ref_=fn_t...,39.0,French,France,R,4500.0,2004.0,133.0,6.9,2.35,171
3752,5027,Color,Jafar Panahi,64.0,90.0,397.0,0.0,Nargess Mamizadeh,5.0,673780.0,Drama,Fereshteh Sadre Orafaiy,The Circle,4555,5,Mojgan Faramarzi,0.0,abortion|bus|hospital|prison|prostitution,http://www.imdb.com/title/tt0255094/?ref_=fn_t...,26.0,Persian,Iran,Not Rated,10000.0,2000.0,0.0,7.5,1.85,697
3753,5033,Color,Shane Carruth,143.0,77.0,291.0,8.0,David Sullivan,291.0,424760.0,Drama|Sci-Fi|Thriller,Shane Carruth,Primer,72639,368,Casey Gooden,0.0,changing the future|independent film|invention...,http://www.imdb.com/title/tt0390384/?ref_=fn_t...,371.0,English,USA,PG-13,7000.0,2004.0,45.0,7.0,1.85,19000
3754,5035,Color,Robert Rodriguez,56.0,81.0,0.0,6.0,Peter Marquardt,121.0,2040920.0,Action|Crime|Drama|Romance|Thriller,Carlos Gallardo,El Mariachi,52055,147,Consuelo Gómez,0.0,assassin|death|guitar|gun|mariachi,http://www.imdb.com/title/tt0104815/?ref_=fn_t...,130.0,Spanish,USA,R,7000.0,1992.0,20.0,6.9,1.37,0
3755,5042,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,John August,My Date with Drew,4285,163,Jon Gunn,0.0,actress name in title|crush|date|four word tit...,http://www.imdb.com/title/tt0378407/?ref_=fn_t...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

In [11]:
#resetting columns to only show movie titles and release year

movie_data_na = movie_data_na.loc[:,["movie_title" , "title_year" , "movie_facebook_likes"]]

movie_data_na

,movie_title,title_year,movie_facebook_likes
0,Avatar,2009.0,33000
1,Pirates of the Caribbean: At World's End,2007.0,0
2,Spectre,2015.0,85000
3,The Dark Knight Rises,2012.0,164000
4,John Carter,2012.0,24000
...,...,...,...
3751,Clean,2004.0,171
3752,The Circle,2000.0,697
3753,Primer,2004.0,19000
3754,El Mariachi,1992.0,0
3755,My Date with Drew,2004.0,456

In [12]:
#Renaming columns to remove underscores and remove decimal points
movie_data_titles_year = movie_data_na.rename(columns={"movie_title" : "Title",
                                                 "title_year" : "Release Year",
                                                  "movie_facebook_likes" : "Facebook Likes"     
                                                })


movie_data_titles_year

                                          Title  Release Year  Facebook Likes
0                                       Avatar         2009.0           33000
1     Pirates of the Caribbean: At World's End         2007.0               0
2                                      Spectre         2015.0           85000
3                        The Dark Knight Rises         2012.0          164000
4                                  John Carter         2012.0           24000
...                                         ...           ...             ...
3751                                     Clean         2004.0             171
3752                                The Circle         2000.0             697
3753                                    Primer         2004.0           19000
3754                               El Mariachi         1992.0               0
3755                         My Date with Drew         2004.0             456

[3756 rows x 3 columns]

In [13]:
#Selecting movies from 2015 and 2016 and reset column
movies_2015 = movie_data_titles_year.loc[(movie_data_titles_year['Release Year'] == 2015.0)]
movies_2015.head()

                       Title  Release Year  Facebook Likes
2                   Spectre         2015.0           85000
7   Avengers: Age of Ultron         2015.0          118000
28           Jurassic World         2015.0          150000
44                Furious 7         2015.0           94000
60        Jupiter Ascending         2015.0           44000

In [14]:
movies_2016 = movie_data_titles_year.loc[(movie_data_titles_year['Release Year'] == 2016.0)]
movies_2016.head()

                                  Title  Release Year  Facebook Likes
9   Batman v Superman: Dawn of Justice         2016.0          197000
26          Captain America: Civil War         2016.0           72000
55                    Star Trek Beyond         2016.0           30000
61                The Legend of Tarzan         2016.0           29000
63                   X-Men: Apocalypse         2016.0           54000

In [29]:
#selecting random movies from 2015/2016 list
movie_rand_2015 = movies_2015.sample(n=10)
movie_rand_2015

                    Title  Release Year  Facebook Likes
1824              Legend         2015.0           43000
2727       Woman in Gold         2015.0           34000
2568          Ex Machina         2015.0          109000
659              Everest         2015.0           40000
123   Mad Max: Fury Road         2015.0          191000
3173            The Gift         2015.0           15000
3607    Creative Control         2015.0             793
3494      Brotherly Love         2015.0            1000
44             Furious 7         2015.0           94000
2811            The Gift         2015.0           15000

In [46]:
#selecting random movies from 2016 list
movie_rand_2016 = movies_2016.sample(n=10)
movie_rand_2016

                       Title  Release Year  Facebook Likes
2550   Miracles from Heaven         2016.0           16000
366        Now You See Me 2         2016.0           15000
172                 The BFG         2016.0           27000
2039                  Risen         2016.0           21000
1902        Eddie the Eagle         2016.0           15000
1297       How to Be Single         2016.0           15000
55         Star Trek Beyond         2016.0           30000
103                Warcraft         2016.0           89000
540   The Angry Birds Movie         2016.0           14000
975             Zoolander 2         2016.0           28000

In [47]:
#merging lists
merged_movie_list = pd.merge(movie_rand_2015, movie_rand_2016,  how="outer")
merged_movie_list.round()

                     Title  Release Year  Facebook Likes
0                  Legend         2015.0           43000
1           Woman in Gold         2015.0           34000
2              Ex Machina         2015.0          109000
3                 Everest         2015.0           40000
4      Mad Max: Fury Road         2015.0          191000
5                The Gift         2015.0           15000
6                The Gift         2015.0           15000
7        Creative Control         2015.0             793
8          Brotherly Love         2015.0            1000
9               Furious 7         2015.0           94000
10   Miracles from Heaven         2016.0           16000
11       Now You See Me 2         2016.0           15000
12                The BFG         2016.0           27000
13                  Risen         2016.0           21000
14        Eddie the Eagle         2016.0           15000
15       How to Be Single         2016.0           15000
16       Star Trek Beyond         2016.0           30000
17               Warcraft         2016.0           89000
18  The Angry Birds Movie         2016.0           14000
19            Zoolander 2         2016.0           28000

In [38]:
#Use YouTube API to retreive view count for trailers in list
confirmed_movie_list = ["Legend", "Woman in Gold" , "Ex Machina" , "Everest" , "Mad Max: Fury Road" , 
                       "The Longest Ride" , "Fantastic Four" , "Creed" , "Southpaw" , "Black Mass" , "London Has Fallen",
                       "Lights Out" , "The Young Messiah" , "Miracles from Heaven" , "Risen" , 
                       "The BFG" , "Dirty Grandpa" , "The 5th Wave" , "The Neon Demon" , "Ghostbusters"]

query_url = "https://www.googleapis.com/youtube/v3/activities"


titles = []
viewCount = []

for title in confirmed_movie_list:
    target_url = query_url + title

   # response = requests.get(target_url).json()
   # titles.append(response[0]['name'])
    #ratings.append(response[0]['statistics']['viewCount'])
    
    response = requests.get(query_url)

<Response [400]>
<Response [400]>
<Response [400]>
<Response [400]>
<Response [400]>
<Response [400]>
<Response [400]>
<Response [400]>
<Response [400]>
<Response [400]>
<Response [400]>
<Response [400]>
<Response [400]>
<Response [400]>
<Response [400]>
<Response [400]>
<Response [400]>
<Response [400]>
<Response [400]>
<Response [400]>

In [1]:
#Use IMDB API to pull Rotten Tomatoes, IMDB, and Metacritic ratings

In [2]:
##############

In [ ]:
# Create a scatter plot which compares Youtube Trailer Viewcount to Metacritic Rating
youtube_metacritic.plot(kind="scatter", x="youtube_viewcount", y="metacritic_rating", grid=True, figsize=(8,8),
              title="Youtube Viewcount vs. Metacritic Rating")
plt.show()

In [1]:
# Plot youtube Viewcount vs. Metacritic Rating as a line chart
youtube_vs_metacritic, = plt.plot(youtube_viewcount, metacritic_rating, color="blue", label="Metacritic_ViewCount_Correlation" )


# Create a legend for our chart
plt.legend(handles=[count_vs_metacritic], loc="best")

# Show the chart
plt.show()

NameError: name 'plt' is not defined

In [ ]:
# Create a scatter plot which compares Youtube Trailer Viewcount to Rotten Tomatoes Rating
youtube_rottentomato.plot(kind="scatter", x="youtube_viewcount", y="rottentomato_rating", grid=True, figsize=(8,8),
              title="Youtube Viewcount vs. Rotten Tomato Rating")
plt.show()

In [ ]:
# Plot youtube Viewcount vs. Rotten Tomatoes Rating as a line chart
youtube_vs_rottentomato, = plt.plot(youtube_viewcount, rotten_tomato_rating, color="red", label="RottenTomato_ViewCount_Correlation" )


# Create a legend for our chart
plt.legend(handles=[youtube_vs_rottentomato], loc="best")

# Show the chart
plt.show()

In [ ]:
# Create a scatter plot which compares Youtube Trailer Viewcount to IMDB Rating
youtube_IMDB.plot(kind="scatter", x="youtube_viewcount", y="IMDB_rating", grid=True, figsize=(8,8),
              title="Youtube Viewcount vs. IMDB Rating")
plt.show()

In [ ]:
# Plot youtube Viewcount vs. IMDB Rating as a line chart
youtube_vs_IMDB, = plt.plot(youtube_viewcount, IMDB_rating, color="green", label="IMDB_ViewCount_Correlation" )


# Create a legend for our chart
plt.legend(handles=[youtube_vs_IMDB], loc="best")

# Show the chart
plt.show()